<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <title>ODEH'S BOOK REVIEW {% block title %}{% endblock %}</title>
	
	<style> 
	footer{
      padding: 20px 40px;
	  margin-bottom: 10px;
      background: #2f3147;
      color: white;
      }
	  section{
	  padding: 10px;
	  }
	</style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border">
	<a href="#">  Home </a> | <a href="#">About </a>  | <a href="#"> Contact </a>  
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarNavDropdown">
            {% if session.user_id %}
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Search</a></li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="#">{{ session.user_name }}</a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                </ul>
            {% else %}
                <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                </ul>
            {% endif %}
        </div>
    </nav>

    {% if get_flashed_messages() %}
        <div class="alert alert-info text-center" role="alert">
            {{ get_flashed_messages() | join(" ") }}
        </div>
    {% endif %}

    
	<div class="jumbotron text-center">
  <h2>WELCOME TO THE BEST BOOK REVIEW SITE!!</h2>
  <p>Register and tell us what book titles you’ve enjoyed in the past, and we’ll give you the most insightful recommendations.</p> 
	</div>
 
	<section>
	<div class="d-flex flex-column align-items-center justify-content-center h-100vh">  
	<h3 class="mt-5 mb-3">Click here to Register or Login </h3>
	
	<!-- Button to Open the Modal -->
	<button type="button" class="btn btn-primary text-uppercase px-5 py-2" data-toggle="modal" data-target="#myModal">
		Register / Login </button>
		</div>
	
  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Login </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
		<form role="form" action="/login" method="post">
            <div class="form-group">
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
              <input autocomplete="off" type="text" class="form-control" id="usernamelog" placeholder="Enter Username">
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              <input type="password" class="form-control" id="passwordlog" placeholder="Enter password">
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="" checked>Remember me</label>
            </div>
			 <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
          </form>
        </div>
		
		         <!-- Modal footer -->
        <div class="modal-footer">
		<p> Not a member? Click to register </p>
          <button type="button" class="btn btn-danger" data-dismiss="modal" data-toggle="modal" data-target="#myModal2">Register</button>
        </div>
        </div>
      </div>
    </div>
    
	<div class="modal fade" id="myModal2">
		<div class="modal-dialog">
			<div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Register</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <form role="form" action="/register" method="post">
            <div class="form-group">
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
              <input autocomplete="off" type="text" class="form-control" id="usernamereg" placeholder="Username">
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              <input type="password" class="form-control" id="passwordreg" placeholder="Enter password">
            </div>
			<div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              <input type="password" class="form-control" id="confirmation" placeholder="Confirm password">
            </div>
           
              <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Register</button>
          </form>
             </div>
			 
        <!-- Modal footer -->
        <div class="modal-footer">
		   <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
       </div>
    </div>
   </div>
  </section> 

<!-- Footer -->
	<footer>
	<div class="w3-third w3-serif">
      <h3>POPULAR TAGS</h3>
      <p>
        <span class="w3-tag w3-black w3-margin-bottom">Arts</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Biography</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Comics</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Comedy</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Ebooks</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Fiction</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">History</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Non-Fiction</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Romance</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Arts</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Psychology</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Sports</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Poetry</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Travel</span>
      </p>
    </div>
	
	 <div class="w3-third">
      <p>Powered by <a href="#" target="_blank">Daniel Odeh </a> (c)2020 </p>
  	</div>
	</footer>
   
</body>

</html>