<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <title>ODEH'S BOOK REVIEW {% block title %}{% endblock %}</title>
	
	<style> 
	footer{
      padding: 20px 40px;
	  margin-bottom: 10px;
      background: #2f3147;
      color: white;
      }
	  section{
	  padding: 10px;
	  }
	</style>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light border">
        <a class="navbar-brand" style="color:gr">
           <a href="/homepage">  Home </a> | <a href="https://www.linkedin.com/in/daniel-odeh-42554550" target="_blank">About </a>  | 
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        </a>
       		
        <div class="navbar-collapse collapse" id="navbarNavDropdown">
            {% if session.user_id %}
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Search</a></li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="#">{{ session.user_name }}</a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                </ul>
            {% else %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>                
                    <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                </ul>
            {% endif %}
        </div>
    </nav>
 
  <div class="jumbotron text-center">
  <h2>WELCOME TO THE BEST BOOK REVIEW SITE!!</h2>
	</div>
	
    {% if get_flashed_messages() %}
        <div class="alert alert-info text-center" role="alert">
            {{ get_flashed_messages() | join(" ") }}
        </div>
    {% endif %}

    <main class="container p-5">
        {% block content %}
        {% endblock %}
    </main>
	
   
    
	
 
<!-- Footer -->
	<footer>
	<div class="w3-third w3-serif">
      <h3>POPULAR TAGS</h3>
      <p>
        <span class="w3-tag w3-black w3-margin-bottom">Arts</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Biography</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Comics</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Comedy</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Ebooks</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Fiction</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">History</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Non-Fiction</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Romance</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Arts</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Psychology</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Sports</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Poetry</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Travel</span>
      </p>
    </div>
	
	 <div class="w3-third">
      <p>Powered by <a href="https://www.linkedin.com/in/daniel-odeh-42554550" target="_blank">Daniel Odeh </a> (c)2020 </p>
  	</div>
	</footer>
   
</body>

</html>